

        /* CheckBoxes */
        .regular-checkbox {
            display: inline;
            vertical-align:middle;
        }


        .regular-checkbox + label {
            display: none;
        }

        .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
            display: none;
        }

        .regular-checkbox:checked + label {
            display: none;
        }

        .regular-checkbox:checked + label:after {
            display: none;
        }



        /* Radio */
        .regular-radio {
            display: inline;
            vertical-align:middle;
            font-weight:normal;
        }
        .regular-radio + label {
            display: none;
        }
        .regular-radio:checked + label:after {
            display: none;
        }

        .regular-radio:checked + label {
            display: none;
        }

        .regular-radio + label:active, .regular-radio:checked + label:active {
            display: none;
        }




        /*-- select elements --*/
        select {
            padding: 0;
        }
        .select-container {
            background: none;
        }

        .on-selectError{
            background: none;
        }



        /* forms error handling */
        .on-error{                      
            color:#bf2828;
        }
        
        input.on-error{                      
            color:#bf2828;
            background:#f8e9e9;
        }
