<div class="top-nav-container">

    <div class="hamburger-menu">
      <button type="button" class="hamburger collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1, #bs-example-navbar-collapse-2" aria-expanded="false">
         <span>Toggle navigation</span>
      </button>
   </div>

   <div class="brand">
      <a href="#">
         <img src="img/brand-logo-chevy.jpg" alt="Logo">
      </a>
   </div>

   <div class="vehicle-container">
      <div class="vehicle">
         <a href="#0">
            <img src="img/vehicle.png"/>
            <p>My 2016 Cadillac CTS</p>
         </a>
      </div>
   </div>

   <div class="search-container">
      <div class="search">
         <a href="#0">
            <span class="icon-ui-search"></span>
            <p>Search</p>
         </a>
      </div>
   </div>

   <div class="notifications-container">
      <div class="notification">
         <a href="#0">
            <span class="icon-newnav-notification"></span>
            <div class="note-count">20</div>
            <p>Notifications</p>
         </a>
      </div>
   </div>

   <div class="account-container">
      <div class="account">
         <a href="#0">
            <span class="icon-ui-account"></span>
            <p>Account</p>
         </a>
      </div>
   </div>

</div>


<div class="side-nav-container">
   <a href="#0" class="side-nav-item-container">
      <div class="side-nav-item">
         <span class="icon-newnav-vehicle"></span>
         <p>Vehicle</p>
      </div>
   </a>
   <a href="#0" class="side-nav-item-container">
      <div class="side-nav-item">
         <span class="icon-newnav-vehicle"></span>
         <p>Vehicle</p>
      </div>
   </a>
</div>



   <div class="top-nav-items-right collapse" id="bs-example-navbar-collapse-1">
      <ul class="list-inline">
         <li>
            <div class="top-nav-item">
               <div class="search">
                  <a href="#0" data-toggle="dropdown">
                     <span class="icon-newnav-search"></span>
                     Search
                  </a>
                  <ul class="top-nav-dropdown-menu">
                     <li><input type="text" class="form-control" placeholder="Search..."></li>
                  </ul>
                  <input type="text" class="form-control" placeholder="Search...">
               </div>
            </div>
         </li><li>
            <div class="top-nav-item active">
               <div class="notifications">
                  <a href="#0" data-toggle="dropdown">
                     <span class="icon-newnav-notification"></span>
                     <div class="note-count">20</div>
                     Notifications
                  </a>
                  <div class="top-nav-dropdown-menu">
                     <div class="title">
                        <h5>
                           Notifications
                        </h5>
                        <a class="icon-ui-close" href=""></a>
                     </div>
                     <div class="body">
                        <div class="container">
                           <div class="row">
                              <ul class="notes">
                                 <li class="col-xs-12">
                                    <div class="note">
                                       <span aria-hidden="true" class="icon-graphic-messages"></span>
                                       <p><strong>2012 Chevrolet Volt</strong></p>
                                       <p>Lorem ipsum</p>
                                    </div>
                                 </li>
                                 <li class="col-xs-12">
                                    <div class="note">
                                       <span aria-hidden="true" class="icon-graphic-messages"></span>
                                       <p><strong>2012 Chevrolet Volt</strong></p>
                                       <p>Lorem ipsum</p>
                                    </div>
                                 </li>
                                 <li class="col-xs-12">
                                    <div class="note read">
                                       <span aria-hidden="true" class="icon-graphic-messagesopen"></span>
                                       <p><strong>2012 Chevrolet Volt</strong></p>
                                       <p>Lorem ipsum</p>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="footer">
                        <button type="button" class="btn btn-link noWrap addVehicleBtn ng-isolate-scope" data-ng-click="openAddVehicle()" data-gm-track-link="MiniGarage:AddVehicle" data-track-delay="true" data-track-type="o" data-prop10="MiniGarage:Button:Add Vehicle">
                        See all notifications
                        </button>
                     </div>
                  </div>
               </div>
               <div class="notifications-mobile">
                  <a href="#0">
                     Notifications
                     <div class="note-count">20</div>
                  </a>
               </div>
            </div>
         </li><li>
            <div class="top-nav-item">
               <a href="#0">
                  <span class="icon-newnav-key"></span>
                  Commands
               </a>
            </div>
         </li><li>
            <div class="top-nav-item">
               <a href="#0" data-toggle="dropdown">
                  <span class="icon-newnav-account"></span>
                  Account
                  <div class="menu-arrow-default">
                     <span class="icon-ui-arrowdown"></span>
                  </div>
                  <div class="menu-arrow-open">
                     <span class="icon-ui-arrowup"></span>
                  </div>
               </a>
               <div class="top-nav-dropdown-menu">
                  <div class="title">
                     <h5>
                        Brandon Cool
                     </h5>
                     <a class="icon-ui-close" href=""></a>
                  </div>
                  <div class="body">
                     <div class="container">
                        <div class="row">
                           <ul class="top-nav-dropdown-menu">
                              <li><a href="#0">Overview</a></li>
                              <li><a href="#0">Personal Information</a></li>
                              <li><a href="#0">Services and Accounts</a></li>
                              <li><a href="#0">Communication Preferences</a></li>
                              <li><a href="#0">Opt-in Programs</a></li>
                              <li class="divider"></li>
                              <li><a href="#0">Log Out</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </li>
      </ul>
   </div>
</div>

<div class="page-wrapper">
   <div class="side-nav">
      <div class="side-nav-items collapse" id="bs-example-navbar-collapse-2">
         <ul>
            <li>
               <div class="side-nav-item">
                  <a href="#0" data-toggle="dropdown">
                     <span class="icon-newnav-vehicle"></span>
                     Vehicle
                     <div class="menu-arrow-default">
                        <span class="icon-ui-arrowdown"></span>
                     </div>
                     <div class="menu-arrow-open">
                        <span class="icon-ui-arrowup"></span>
                     </div>
                  </a>
                  <ul class="side-nav-dropdown-menu">
                     <li><a href="#0">Overview</a></li>
                     <li><a href="#0">Learn</a></li>
                     <li><a href="#0">Preferences</a></li>
                     <li><a href="#0">Smart Driver Long menu item will wrap</a></li>
                  </ul>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0" data-toggle="dropdown" class="active">
                     <span class="icon-newnav-clipboard"></span>
                     Maintenance
                     <div class="menu-arrow-default">
                        <span class="icon-ui-arrowdown"></span>
                     </div>
                     <div class="menu-arrow-open">
                        <span class="icon-ui-arrowup"></span>
                     </div>
                  </a>
                  <ul class="side-nav-dropdown-menu">
                     <li><a href="#0">Home</a></li>
                     <li><a href="#0">Settings</a></li>
                     <!-- <li class="divider"></li> -->
                     <li><a href="#0">Shop</a></li>
                     <li><a href="#0">About</a></li>
                     <li><a href="#0">Help</a></li>
                  </ul>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0">
                     <span class="icon-newnav-map"></span>
                     Navigation
                  </a>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0">
                     <span class="icon-newnav-shop"></span>
                     Collection
                  </a>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0">
                     <span class="icon-newnav-onstar"></span>
                     OnStar
                  </a>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0" data-toggle="dropdown" class="active">
                     <span class="icon-newnav-help"></span>
                     Help
                     <div class="menu-arrow-default">
                        <span class="icon-ui-arrowdown"></span>
                     </div>
                     <div class="menu-arrow-open">
                        <span class="icon-ui-arrowup"></span>
                     </div>
                  </a>
                  <ul class="side-nav-dropdown-menu">
                     <li><a href="#0">Overview</a></li>
                     <li><a href="#0">Learn</a></li>
                  </ul>
               </div>
            </li>
         </ul>
      </div>
   </div>


</div>
