

<div class="top-nav">
   <!-- <a href="#0" class="navbar-toggle collapsed">Menu<span></span></a> -->
   <button type="button" class="hamburger collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1, #bs-example-navbar-collapse-2" aria-expanded="false">
     <span>Toggle navigation</span>
    </button>
   <div class="top-nav-items-left">
      <ul class="list-inline">
         <li>
            <div class="top-nav-item">
               <a>
                  <img src="img/brand-logo-chevy.jpg" alt="Logo">
               </a>
            </div>
         </li>
         <li>
            <div class="top-nav-item-vehicle">
               <a href="#0">
                  <img src="img/vehicle.png"/>
                  My 2016 Cadillac CTS
               </a>
            </div>
         </li>
      </ul>
   </div>


   <div class="top-nav-items-right collapse" id="bs-example-navbar-collapse-1">
      <ul class="list-inline">
         <li>
            <div class="top-nav-item">
               <div class="search">
                  <a href="#0">
                     <span class="icon-newnav-search"></span>
                     Search
                  </a>
                  <input type="text" class="form-control" placeholder="Search...">
               </div>
            </div>
         </li>
         <li>
            <div class="top-nav-item">
               <a href="#0">
                  <span class="icon-newnav-notification"></span>
                  Notifications
               </a>
            </div>
         </li>
         <li>
            <div class="top-nav-item">
               <a href="#0">
                  <span class="icon-newnav-key"></span>
                  Commands
               </a>
            </div>
         </li>
         <li>
            <div class="top-nav-item">
               <a href="#0" data-toggle="dropdown">
                  <span class="icon-newnav-account"></span>
                  Account
                  <div class="menu-arrow-default">
                     <span class="icon-ui-arrowdown"></span>
                  </div>
                  <div class="menu-arrow-open">
                     <span class="icon-ui-arrowup"></span>
                  </div>
               </a>
               <ul class="top-nav-dropdown-menu">
                  <li><a href="#0">Overview</a></li>
                  <li><a href="#0">Personal Information</a></li>
                  <li><a href="#0">Services and Accounts</a></li>
                  <li><a href="#0">Communication Preferences</a></li>
                  <li><a href="#0">Opt-in Programs</a></li>
                  <li class="divider"></li>
                  <li><a href="#0">Log Out</a></li>
               </ul>
            </div>

         </li>
      </ul>
   </div>
</div>

<div class="side-nav">
   <div class="side-nav-items collapse" id="bs-example-navbar-collapse-2">
      <ul>
         <li>
            <div class="side-nav-item">
               <a href="#0" data-toggle="dropdown">
                  <span class="icon-newnav-vehicle"></span>
                  Vehicle
                  <div class="menu-arrow-default">
                     <span class="icon-ui-arrowdown"></span>
                  </div>
                  <div class="menu-arrow-open">
                     <span class="icon-ui-arrowup"></span>
                  </div>
               </a>
               <ul class="side-nav-dropdown-menu">
                  <li><a href="#0">Overview</a></li>
                  <li><a href="#0">Learn</a></li>
                  <li><a href="#0">Preferences</a></li>
                  <li><a href="#0">Smart Driver Long menu item will wrap</a></li>
               </ul>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0" data-toggle="dropdown" class="active">
                  <span class="icon-newnav-clipboard"></span>
                  Maintenance
               </a>
               <ul class="side-nav-dropdown-menu">
                  <li><a href="#0">Home</a></li>
                  <li><a href="#0">Settings</a></li>
                  <!-- <li class="divider"></li> -->
                  <li><a href="#0">Shop</a></li>
                  <li><a href="#0">About</a></li>
                  <li><a href="#0">Help</a></li>
               </ul>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0">
                  <span class="icon-newnav-map"></span>
                  Navigation
               </a>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0">
                  <span class="icon-newnav-shop"></span>
                  Collection
               </a>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0">
                  <span class="icon-newnav-onstar"></span>
                  OnStar
               </a>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0" data-toggle="dropdown" class="active">
                  <span class="icon-newnav-help"></span>
                  Help
                  <div class="menu-arrow-default">
                     <span class="icon-ui-arrowdown"></span>
                  </div>
                  <div class="menu-arrow-open">
                     <span class="icon-ui-arrowup"></span>
                  </div>
               </a>
               <ul class="side-nav-dropdown-menu">
                  <li><a href="#0">Overview</a></li>
                  <li><a href="#0">Learn</a></li>
                  <li><a href="#0">Preferences</a></li>
                  <li><a href="#0">Smart Driver Long menu item will wrap</a></li>
                  <li><a href="#0">Overview</a></li>
                  <li><a href="#0">Learn</a></li>
                  <li><a href="#0">Preferences</a></li>
                  <li><a href="#0">Smart Driver Long menu item will wrap</a></li>
               </ul>
            </div>
         </li>
      </ul>
   </div>
</div>

<div class="page-content">
   <div class="container">
       <div class="row">
           <div class="col-xs-12">
               <h1>3.0 Navigation</h1>
               <hr>
           </div>
       </div>
   </div>
</div>
