<div class="top-nav-container">

    <div class="hamburger-menu">
      <button type="button" class="hamburger collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1, #bs-example-navbar-collapse-2" aria-expanded="false">
         <span>Toggle navigation</span>
      </button>
   </div>

   <div class="brand">
      <a href="#">
         <img src="img/brand-logo-chevy.jpg" alt="Logo">
      </a>
   </div>

   <div class="vehicle-container">
      <div class="vehicle-current" data-toggle="dropdown">
         <a href="#0">
            <img src="img/vehicle.png"/>
            <p>My 2016 Cadillac CTS</p>
         </a>
      </div>
      <div class="dropdown-container">
         <div class="title">
            <h5>Your Vehicles</h5>
            <a class="icon-ui-close" href=""></a>
         </div>
         <ul class="content">
            <li class="vehicle active">
               <a href="#0">
                  <img src="https://media.carbook.com/MediaGallery/media/Mjk4NTQ2Xk1lZGlhIEdhbGxlcnk/Cmoe19M4YLsv40HdPGfyJC9XSEVttXsoW2pXYnOf5nfFkOa4j6-V4qVLJ57sjFwaqu9OhgWt8DI/cc_2012CHE023a_01_640_GAN.png" >
                  <p>2015 Vehicle Name</p>
                  <p>VIN: 1234567890</p>
               </a>
            </li>
            <li class="vehicle hover">
               <a href="#0">
                  <img src="https://media.carbook.com/MediaGallery/media/Mjk4NTQ2Xk1lZGlhIEdhbGxlcnk/Cmoe19M4YLsv40HdPGfyJC9XSEVttXsoW2pXYnOf5nfFkOa4j6-V4qVLJ57sjFwaqu9OhgWt8DI/cc_2012CHE023a_01_640_GAN.png" >
                  <p>2015 Vehicle Name</p>
                  <p>VIN: 1234567890</p>
               </a>
            </li>
            <li class="vehicle">
               <a href="#0">
                  <img src="https://media.carbook.com/MediaGallery/media/Mjk4NTQ2Xk1lZGlhIEdhbGxlcnk/Cmoe19M4YLsv40HdPGfyJC9XSEVttXsoW2pXYnOf5nfFkOa4j6-V4qVLJ57sjFwaqu9OhgWt8DI/cc_2012CHE023a_01_640_GAN.png" >
                  <p>2015 Vehicle Name</p>
                  <p>VIN: 1234567890</p>
               </a>
            </li>
            <li class="actions">
               <ul>
                  <li>
                     <button type="button" class="btn btn-default ng-isolate-scope" data-ng-click="openAddVehicle()" data-gm-track-link="MiniGarage:AddVehicle" data-track-delay="true" data-track-type="o" data-prop10="MiniGarage:Button:Add Vehicle">
                     View All
                     </button>
                     <button type="button" class="btn btn-blue ng-isolate-scope" data-ng-click="openAddVehicle()" data-gm-track-link="MiniGarage:AddVehicle" data-track-delay="true" data-track-type="o" data-prop10="MiniGarage:Button:Add Vehicle">
                     <span aria-hidden="true" class="icon-ui-adddot"></span>
                     Add Vehicle
                     </button>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
   </div>


   <div class="notifications-container">
      <div class="notification" data-toggle="dropdown">
         <a href="#0">
            <span class="icon-newnav-notification"></span>
            <div class="note-count">20</div>
            <p>Notifications</p>
         </a>
      </div>
      <div class="dropdown-container">
         <div class="title">
            <h5>Notifications</h5>
            <a class="icon-ui-close" href=""></a>
         </div>
         <ul class="content">
            <li class="note">
               <a href="#0">
                  <span aria-hidden="true" class="icon-graphic-messages"></span>
                  <ul>
                     <li>
                        <p><strong>2012 Chevrolet Volt</strong></p>
                     </li>
                     <li>
                        <p>Lorem ipsum</p>
                     </li>
                  </ul>
               </a>
            </li>
            <li class="note">
               <a href="#0">
                  <span aria-hidden="true" class="icon-graphic-messages"></span>
                  <ul>
                     <li>
                        <p><strong>2012 Chevrolet Volt</strong></p>
                     </li>
                     <li>
                        <p>Lorem ipsum</p>
                     </li>
                  </ul>
               </a>
            </li>
            <li class="note read">
               <a href="#0">
                  <span aria-hidden="true" class="icon-graphic-messagesopen"></span>
                  <ul>
                     <li>
                        <p><strong>2012 Chevrolet Volt</strong></p>
                     </li>
                     <li>
                        <p>Lorem ipsum</p>
                     </li>
                  </ul>
               </a>
            </li>
            <li class="actions">
               <ul>
                  <li>
                     <button type="button" class="btn btn-link noWrap addVehicleBtn ng-isolate-scope" data-ng-click="openAddVehicle()" data-gm-track-link="MiniGarage:AddVehicle" data-track-delay="true" data-track-type="o" data-prop10="MiniGarage:Button:Add Vehicle">
                     See all notifications
                     </button>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
   </div>

   <div class="right-menu-container">
      <div class="search-container">
         <div class="search" data-toggle="dropdown">
            <a href="#0">
               <span class="icon-ui-search"></span>
               <p>Search</p>
            </a>
         </div>

         <div class="search-dropdown-container">
            <div class="title">
               <h5>Search</h5>
               <a class="icon-ui-close" href=""></a>
            </div>
            <ul class="content">
               <li class="search-form">
                  <input type="text" class="form-control">
                  <button type="submit" class="btn btn-blue">Search</button>
               </li>
            </ul>
         </div>
      </div>

      <div class="account-container">
         <div class="account" data-toggle="dropdown">
            <a href="#0">
               <span class="icon-ui-account"></span>
               <p>Account</p>
            </a>
         </div>

         <div class="account-dropdown-container">
            <div class="title">
               <h5>John Doe</h5>
               <a class="icon-ui-close" href=""></a>
            </div>
            <ul class="content">
               <li>
                  <a href="0">Personal Info</a>
               </li>
               <li>
                  <a href="0">Service & Accounts</a>
               </li>
               <li>
                  <a href="0">Logout</a>
               </li>
            </ul>
         </div>
      </div>
   </div>


</div> <!-- END TOP NAV CONTAINER -->


<div class="side-nav-container">
   <ul>
      <li class="side-nav-item">
         <a href="#0">
            <span class="icon-newnav-vehicle"></span>
            <p>Vehicle</p>
         </a>
      </li>
      <li class="side-nav-item">
         <a href="#0">
            <span class="icon-newnav-vehicle"></span>
            <p>Vehicle</p>
         </a>
      </li>
   </ul>
</div><!-- END SIDE NAV CONTAINER -->


<div class="mobile-menu collapse" id="bs-example-navbar-collapse-1">
   <div class="mobile-menu-container">
      <ul>
         <li class="mobile-menu-item">
            <div class="search">
               <input type="text" class="form-control" placeholder="Search...">
            </div>
         </li>
         <li class="mobile-menu-item">
            <a href="#0" data-toggle="dropdown">
               Account
               <div class="menu-arrow-default">
                  <span class="icon-ui-arrowdown"></span>
               </div>
               <div class="menu-arrow-open">
                  <span class="icon-ui-arrowup"></span>
               </div>
            </a>
            <div class="mobile-menu-item-dropdown">
               <div class="title">
                  <h5>John Doe</h5>
               </div>
               <ul class="content">
                  <li>
                     <a href="0">Personal Info</a>
                  </li>
                  <li>
                     <a href="0">Service & Accounts</a>
                  </li>
                  <li>
                     <a href="0">Logout</a>
                  </li>
               </ul>
            </div>
         </li>
      </ul>
   </div>
</div>


<!-- <div class="page-wrapper">
<div class="side-nav">
   <div class="side-nav-items collapse" id="bs-example-navbar-collapse-2">
      <ul>
         <li>
            <div class="side-nav-item">
               <a href="#0" data-toggle="dropdown">
                  <span class="icon-newnav-vehicle"></span>
                  Vehicle
                  <div class="menu-arrow-default">
                     <span class="icon-ui-arrowdown"></span>
                  </div>
                  <div class="menu-arrow-open">
                     <span class="icon-ui-arrowup"></span>
                  </div>
               </a>
               <ul class="side-nav-dropdown-menu">
                  <li><a href="#0">Overview</a></li>
                  <li><a href="#0">Learn</a></li>
                  <li><a href="#0">Preferences</a></li>
                  <li><a href="#0">Smart Driver Long menu item will wrap</a></li>
               </ul>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0" data-toggle="dropdown" class="active">
                  <span class="icon-newnav-clipboard"></span>
                  Maintenance
                  <div class="menu-arrow-default">
                     <span class="icon-ui-arrowdown"></span>
                  </div>
                  <div class="menu-arrow-open">
                     <span class="icon-ui-arrowup"></span>
                  </div>
               </a>
               <ul class="side-nav-dropdown-menu">
                  <li><a href="#0">Home</a></li>
                  <li><a href="#0">Settings</a></li>
                  <!-- <li class="divider"></li> -->
                  <!-- <li><a href="#0">Shop</a></li>
                  <li><a href="#0">About</a></li>
                  <li><a href="#0">Help</a></li>
               </ul>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0">
                  <span class="icon-newnav-map"></span>
                  Navigation
               </a>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0">
                  <span class="icon-newnav-shop"></span>
                  Collection
               </a>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0">
                  <span class="icon-newnav-onstar"></span>
                  OnStar
               </a>
            </div>
         </li>
         <li>
            <div class="side-nav-item">
               <a href="#0" data-toggle="dropdown" class="active">
                  <span class="icon-newnav-help"></span>
                  Help
                  <div class="menu-arrow-default">
                     <span class="icon-ui-arrowdown"></span>
                  </div>
                  <div class="menu-arrow-open">
                     <span class="icon-ui-arrowup"></span>
                  </div>
               </a>
               <ul class="side-nav-dropdown-menu">
                  <li><a href="#0">Overview</a></li>
                  <li><a href="#0">Learn</a></li>
               </ul>
            </div>
         </li>
      </ul>
   </div>
</div> -->


</div>
