

<div class="container">
    <h1>Lists</h1>
    <hr>  
        
</div>

<div class="container">
    <div class="row margin-bottom-medium">
        <div class="col-sm-6 margin-bottom-medium">
            <h1><small>Default</small></h1>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h1><small>Ordered</small></h1>
            <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 margin-bottom-medium">
            <h1><small>Styled</small></h1>
            <ul class="list-styled">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h1><small>Inline</small></h1>
            <ul class="list-inline">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
    </div>


</div>
 
     
    
    